
 *,
 ::after,
 ::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

h3 {
  font-size: 1.25rem;
}

ul {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 3rem auto;
}

li {
  width: 100%;
    display: flex;
    align-items: center;
    background: var(--clr-white);
    padding: 1rem 2rem;
    border-radius: var(--radius);
    text-align: left;
}